<h1>Adminbereich</h1>

<p>Hier kannst Du jeweils Anlegen, Bearbeiten, L&ouml;schen: </p>
<ul>
  <li><%= link_to "Bilder", pictures_url %></li>
  <li><%= link_to "Artisten inkl. Beschreibungen f&uuml;r die alle Sprachen", artists_url %></li>
  <li><%= link_to "Kategorien", genres_url %></li>
</ul>

