<h1>Impressum</h1>
	<p>
Ethno-Artists-Agency GbR<br />
Im Singes 31<br />
D-63225 Langen<br />
T: +49 (0) 61 03 / 4 40 87 21<br />
Mail: info@ethnoartists.com
<br /><br />

Mobile: +49 (0) 157 885 22 855<br />
Mail: info@ethnoartists.com<br /><br />
Steuernummer 26/086/60456<br />
Geschäftsführer: Günter Bozem, Ibrahim Kizilgöz</p>

<h3>Rechtlicher Hinweis</h3>
<p>Ethno Artists Agency bemüht sich im Rahmen des Zumutbaren, auf dieser Website richtige und vollständige Informationen zur Verfügung zu stellen. Ethno Artists Agency übernimmt jedoch keine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der auf dieser Website bereitgestellten Informationen. Insbesondere gilt dies auch für alle Verbindungen ("Links"), auf welche diese Website direkt oder indirekt verweist. Für den Inhalt einer über einen solchen Link erreichten Seite wird keine Verantwortung übernommen. Ethno Artists Agency behält sich das Recht vor, jederzeit und ohne vorherige Ankündigung Änderungen oder Ergänzungen der bereitgestellten Informationen vorzunehmen.</p>
<h4>Es werden keine Abmahnung ohne vorherige schriftliche Ankündigung akzeptiert.</h4>

