Hallo Ibo,

Du hast eine Anfrage auf ethnoartists.com erhalten:

<table>
  <tr>
    <td>Von: </td>
    <td><%= @contact.name %></td>
  </tr>
  <tr>
    <td>Email: </td>
    <td><%= @contact.email %></td>
  </tr>
  <tr>
    <td>Betreff:</td>
    <td> <%= @contact.betreff %></td>
  </tr>
  <tr>
    <td>Nachricht: </td>
    <td><%= @contact.message %></td>
  </tr>
</table>

