/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

@font-face { font-family: "tschich"; src: url("/assets/TschichLight.eot"); }
@font-face { font-family: "segoe"; src: url("/assets/segoe.eot"); }
@font-face { font-family: "tschich"; src: url("/assets/TschichLight.ttf"); }
@font-face { font-family: "segoe"; src: url("/assets/segoe.ttf"); }


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* The :focus pseudo-class is supported in all major browsers, except the fabulous Internet
Explorer. The :focus pseudo-class adds special style to an element that has keyboard
input focus*/
a:focus {
        outline: none;
}
:focus {
	outline: 0;
}

ol, ul {
	list-style: square;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 5;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*-------------------------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------------------------- */
/*------------------------------------- RESET ENDE  ------------------------------------------------ */
/*-------------------------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------------------------- */
$grau: #c3c3c3;
$rot: #9e0000;
$hellgrau: #e0dfdf;

h1,h2,h3,h4{
  margin-top:15px;
  margin-bottom:10px;
}

h1{
  font-size:18pt;
}

h2{
  font-size:15pt;
}
h3,h4{
  font-size:13pt;

}
img{

  margin:3px;
}
p{
  margin-top: 5px;
  margin-bottom:5px;
}

a{
   font-family:'segoe';
   font-size:13pt;
   text-decoration:none;
    a:hover{
        color: $rot;
        background: transparent;
    }

    a:visited{
        color: black;
   }
   img{
      border: none;

   }
}



body {
  background-color:$grau;
  font-family: 'segoe', verdana, arial, helvetica, sans-serif;
	line-height: 1;
  font-size:11pt;
}

/*-------------------------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------------------------- */
/*------------------------------------- GENERAL  ------------------------------------------------ */
/*-------------------------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------------------------- */



.clear {
  clear:both;
}
.hidden{
  display:none;

}

.floatleft {
  float:left;

}

.floatleftMargin {
  @extend .floatleft;
  margin-left:30px;

}

.button{
    display:block;
    background-color: #f0f0f0;
    padding:5px;
    cursor:hand;
    cursor:pointer;
    margin:10px;
    margin-left:0px;
    width: 250px;
    border: 1px solid gray;
}

/*-------------------------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------------------------- */
/*------------------------------------- APPLICATION.HTML.ERB---------------------------------------- */
/*-------------------------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------------------------- */



#headerwrap{
  background:transparent url('/assets/pattern.png');
}

#header{
  width:1000px;
  margin:auto;
  padding:20px;
}

#logo{
  float:left;

}

#menu {

  font-family: segoe, sans-serif;
  margin-top: 20px;
  margin-right: 20px;
  text-align:right;

  ul{
    list-style:none;
    float:right;

  }
  li{
     height:30px;
     font-weight:bold;
  }
  a{
     color: $grau;
     text-decoration:none;
     font-size:18pt;
  }
  a:hover{
      color: $rot;
  }

  a:visited{
      color: $grau;
    }

}
.locales {

  margin-top:20px;
  float:right;

  img{
    float:left;
    border:none;
  }
}


#content{
  width:1000px;
  margin:auto;
  padding-top:20px;
  padding-bottom:30px;
}

#footer{
  width:1000px;
  margin:auto;

  p{
    margin:400px;
    margin:auto;

  }

}



.pirobox{

  height:200px;
  width:auto;

  img{
    height:150px;
    border:none;
    text-decoration:none;

  }
}

.kasten
{
  background-color: $hellgrau;
  padding:10px;

}



/* ------------ S3Slider --------- */
#s3slider {
   width: 900px; /* important to be same as image width */
   height: 300px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */
   margin: 25px;
}

#s3sliderContent {
   width: 900px; /* important to be same as image width or wider */
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 0; /* important */
}

.s3sliderImage {
   float: left; /* important */
   position: relative; /* important */
   display: none; /* important */
}

.s3sliderImage span {
   position: absolute; /* important */
   left: 0;
   /*font: 30px/45px Arial, Helvetica, sans-serif; */
   font: 18pt 'tschich';
   padding: 10px 13px;
   width: 874px;
   background-color: transparent;
   /*filter: alpha(opacity=10); */ /* here you can set the opacity of box with text */
   /*-moz-opacity: 0.1; */ /* here you can set the opacity of box with text */
   /*-khtml-opacity: 0.1; */ /* here you can set the opacity of box with text */
   /*opacity: 0.1; */ /* here you can set the opacity of box with text */
   color: #fff;
   display: none; /* important */
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;

   /*
       if you put
       top: 0; -> the box with text will be shown at the top of the image
       if you put
       bottom: 0; -> the box with text will be shown at the bottom of the image
   */
}

